<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvEtzW_MPzdANefe87L5hPTgXL6LzV-ME</string>
	<key>GCM_SENDER_ID</key>
	<string>415988989931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDevAssignment2</string>
	<key>PROJECT_ID</key>
	<string>appdev-practise</string>
	<key>STORAGE_BUCKET</key>
	<string>appdev-practise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415988989931:ios:46be34eb88ef7f96f063ae</string>
</dict>
</plist>